<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kandidat.nfc.nfcapp"
    android:versionCode="2"
    android:versionName="1.0000001" >

    <!-- Android SDK 10 eller högre krävs för NFC. Version 14 har alla de senaste funktionerna -->
    <!-- Tillåter NFC samt gör appen endast tillgänglig för telefoner med NFC -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- LG L5 använder Sdk-version 15, s3 använder 16 -->

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light" >

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name="kandidat.nfc.nfcapp.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kandidat.nfc.nfcapp.PasswordActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="SettingsActivity" />
        </activity>
        <activity
            android:name="kandidat.nfc.nfcapp.AccessActivity"
            android:label="@string/title_activity_access" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="kandidat.nfc.nfcapp.DeniedActivity"
            android:label="@string/title_activity_denied" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="kandidat.nfc.nfcapp.MainActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="kandidat.nfc.nfcapp.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="kandidat.nfc.nfcapp.KeysActivity"
            android:label="@string/title_activity_keys"
            android:parentActivityName="kandidat.nfc.nfcapp.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kandidat.nfc.nfcapp.SettingsActivity" />
        </activity>
        <activity
            android:name="kandidat.nfc.nfcapp.ShareActivity"
            android:label="@string/title_activity_share"
            android:parentActivityName="kandidat.nfc.nfcapp.KeysActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kandidat.nfc.nfcapp.KeysActivity" />
        </activity>
    </application>

</manifest>